<h1>Requests</h1>

{{#if errorMessagesForDatabase}}

    {{#each errorMessagesForDatabase}}

        <i>{{this}}</i>
        
    {{/each}}
    
{{else}}

    {{#if requests.length}}

        <ul>
            {{#each requests}}

                <ul>
                    <div class="tile">
                        <div class="tile-content">
                            <li>{{titleRequest}}</li>
                        </div>
                        {{#if ../isLoggedIn}}
                            <div class="tile-action btn-group">
                                <div>
                                    <a href="/updateRequest/{{id}}"><button class="btn btn-submit"><i class="icon icon-edit"></i></button></a>
                                </div>

                                <form action="/deleteRequest/{{id}}" method="post">
                                    <button class="btn btn-submit" type="submit"> <i class="icon icon-delete"></i> </button>
                                </form>
                            </div>
                        {{/if}}
                    </div>
                </ul>
            {{/each}}
        </ul>

    {{else}}

    <p>No requests</p>

    {{/if}}    

    <h2>Request a movie or a TV show!</h2>

    {{#if errorMessages}}

    <ul>

        {{#each errorMessages}}

            <li>{{this}}</li>

        {{/each}}

    </ul>

    {{/if}}

    <form action="" method="post">

        <input type="text" placeholder="Movie/TV Show title" name="titleRequest" value="{{titleRequest}}"><br>
        <input class="btn btn-submit" type="submit" value="Submit!">

    </form>

{{/if}}