{{#if errorMessages}}

    {{#each errorMessages}}
        <p>{{this}}</p>
    {{/each}}

{{else}}

    {{#if blogPost}}

        <div>
            <h2>{{blogPost.title}}</h2>
            <p><i class="text-gray">{{blogPost.mediaType}}</i></p>
        </div>

        <div>
            {{blogPost.mainText}}
        </div>

        {{#if isLoggedIn}}
            <div class="btn-group">

                <a href="/updateBlogPost/{{blogPost.id}}">
                    <button class="btn btn-submit"><i class="icon icon-edit"></i></button>
                </a>

                <form action="/deleteBlogPost/{{blogPost.id}}" method="post">
                    <button class="btn btn-submit" type="submit"> <i class="icon icon-delete"></i></button>
                </form>

            </div>
        {{/if}}

    {{else}}
        <h3>Couldn't find the post</h3>
    {{/if}}

{{/if}}