<h1>Update post</h1>

{{#if errorMessagesForDatabase}}

    {{#each errorMessagesForDatabase}}
        <i>{{this}}</i>
    {{/each}}
    
{{else}}

    {{#if errorMessages.length}}
        <ul>
            {{#each errorMessages}}
                <div class="toast toast-error">
                    <p>{{this}}</p>
                </div>
            {{/each}}
        </ul>
    {{/if}}

    <form action="" method="post">

        <input type="text" placeholder="TITLE" name="title" value="{{blogPost.title}}"><br>
        <textarea placeholder="Once upon a time..." rows="10" cols="100" name="mainText">{{blogPost.mainText}}</textarea><br>
        <input type="radio" id="movie" name="mediaType" value="movie">
        <label for="movie">Movie</label> <br>
        <input type="radio" id="tvshow" name="mediaType" value="tvshow">
        <label for="tvshow">TV Show</label> <br>
        <input class="btn btn-submit" type="submit" value="Update!">

    </form>

{{/if}}
